*{
    padding: 0;
    margin: 0;
}

body{
    background-color: pink;
}

section{
    margin-top: 100px;
    display: grid;
place-content: center;
}

.form-signup{
    height: 530px;
    width: 900px;
    background-color: white;
    display: flex;
    gap: 100px;

    box-shadow: 3px 3px 10px rgb(186, 178, 178),
    -1px -1px 6px rgba(255, 255, 255, 0.4);
}

.form-signup .image{
}

.form-signup .image img{
    width: 380px;
}
/*
#special{
    width: 250px;
    top: 30px;
}
.formm{
    
}*/

.formm #first-p{
    color: palevioletred;
    font-family: "Merriweather", serif;
    font-weight: 900;
    font-style: normal;
    font-size: 45px;
    margin-top: 10px;
}

#first-name{
  width: 250px;
  height: 45px;
  margin-top: 20px;
  border: none;
  outline: none;
  padding: 0px 7px;
  border-radius: 6px;
  color: #0e0e0e;
  font-size: 15px;
  background-color: transparent;
  box-shadow: 3px 3px 10px rgba(0,0,0,1),
  -1px -1px 6px rgba(255, 255, 255, 0.4);
}

#first-name:focus {
    border: 2px solid transparent;
    color: #191818;
    box-shadow: 3px 3px 10px rgb(160, 79, 79),
    -1px -1px 6px rgba(167, 133, 166, 0.4),
    inset 3px 3px 10px rgb(171, 97, 179),
    inset -1px -1px 6px rgba(158, 102, 166, 0.4);
    /*box-shadow: 3px 3px 10px rgba(0,0,0,1),
    -1px -1px 6px rgba(255, 255, 255, 0.4),
    inset 3px 3px 10px rgba(0,0,0,1),
    inset -1px -1px 6px rgba(255, 255, 255, 0.4);*/
}

.email-container{
    margin-top: 20px;
}

#email{
    width: 250px;
    height: 45px;
    border: none;
    outline: none;
    padding: 0px 7px;
    border-radius: 6px;
    color: #131313;
    font-size: 15px;
    background-color: transparent;
    box-shadow: 3px 3px 10px rgba(0,0,0,1),
    -1px -1px 6px rgba(255, 255, 255, 0.4);
}


#email:focus {
    border: 2px solid transparent;
    color: #191818;
    box-shadow: 3px 3px 10px rgb(160, 79, 79),
    -1px -1px 6px rgba(167, 133, 166, 0.4),
    inset 3px 3px 10px rgb(171, 97, 179),
    inset -1px -1px 6px rgba(158, 102, 166, 0.4);
}

.username-container{
    margin-top: 20px;
}
#username{
    width: 250px;
    height: 45px;
    border: none;
    outline: none;
    padding: 0px 7px;
    border-radius: 6px;
    color: #100f0f;
    font-size: 15px;
    background-color: transparent;
    box-shadow: 3px 3px 10px rgba(0,0,0,1),
    -1px -1px 6px rgba(255, 255, 255, 0.4);
}

#username:focus{
    border: 2px solid transparent;
    color: #191818;
    box-shadow: 3px 3px 10px rgb(160, 79, 79),
    -1px -1px 6px rgba(167, 133, 166, 0.4),
    inset 3px 3px 10px rgb(171, 97, 179),
    inset -1px -1px 6px rgba(158, 102, 166, 0.4);
}

.password-container{
    margin-top: 20px;
}
#password{
    width: 250px;
    height: 45px;
    border: none;
    outline: none;
    padding: 0px 7px;
    border-radius: 6px;
    color: #0e0d0d;
    font-size: 15px;
    background-color: transparent;
    box-shadow: 3px 3px 10px rgba(0,0,0,1),
    -1px -1px 6px rgba(255, 255, 255, 0.4);
}

#password:focus{
    border: 2px solid transparent;
    color: #191818;
    box-shadow: 3px 3px 10px rgb(160, 79, 79),
    -1px -1px 6px rgba(167, 133, 166, 0.4),
    inset 3px 3px 10px rgb(171, 97, 179),
    inset -1px -1px 6px rgba(158, 102, 166, 0.4);
}




.tandcs{
    margin-top: 20px;
    font-family: "Kay Pho Du", serif;
    font-weight: 400;
    font-style: normal;
}

.tandcs a{
    color: rgb(245, 127, 147);
    text-decoration: none;
}

.btn-container{
    margin-top: 20px;
}

.btn-container p{
    margin-top: 14px;
    font-family: "Kay Pho Du", serif;
    font-weight: 400;
    font-style: normal;
}

.btn-container p a{
    color: rgb(245, 127, 147);
    text-decoration: none;
}







/*SIGN UP BUTTON*/
.c-button {
    color: #000;
    font-weight: 700;
    font-size: 16px;
    text-decoration: none;
    padding: 0.9em 1.6em;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    z-index: 1;
    height: 45px;

    text-align: center;
}

.c-button--gooey a{
    text-decoration: none;
    color: rgb(62, 59, 59);
    text-align: center;
}
.c-button--gooey {
    color: rgb(233, 140, 156);
    text-transform: uppercase;
    letter-spacing: 2px;
    border: 4px solid rgb(233, 140, 156);
    border-radius: 0;
    position: relative;
    transition: all 700ms ease;
  }
  
.c-button--gooey .c-button__blobs {
    height: 100%;
    filter: url(#goo);
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    bottom: -3px;
    right: -1px;
    z-index: -1;
}
  
.c-button--gooey .c-button__blobs div {
    background-color: rgb(233, 140, 156);
    width: 34%;
    height: 100%;
    border-radius: 100%;
    position: absolute;
    transform: scale(1.4) translateY(125%) translateZ(0);
    transition: all 700ms ease;
  }
  
.c-button--gooey .c-button__blobs div:nth-child(1) {
    left: -5%;
}
  
.c-button--gooey .c-button__blobs div:nth-child(2) {
    left: 30%;
    transition-delay: 60ms;
}
  
.c-button--gooey .c-button__blobs div:nth-child(3) {
    left: 66%;
    transition-delay: 25ms;
}
  
.c-button--gooey:hover {
    color: #fff;
}
  
.c-button--gooey:hover .c-button__blobs div {
    transform: scale(1.4) translateY(0) translateZ(0);
}